.content {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  height: 100vh;
  width: 100%;
  gap: 1rem;
  /* margin: 2rem; */
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0.5rem;
  background-color: var(--deep-blue);
  color: var(--off-white);
  grid-column: span 1;
  grid-row: span 2;
  width: 90%;
}

.articles .new {
  font-size: 2rem;
  font-family: boldfont, sans-serif;
  color: var(--soft-orange);
  font-weight: bold;
  margin: 1rem;
}

.featured {
  display: flex;
  align-items: left;
  padding: 0.5rem;
  color: var(--deep-blue);
  grid-column: span 3;
  grid-row: span 1;
}
