nav {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin: 2rem 2rem;
}

nav img {
  padding: 0;
  margin: 0;
  width: 50px; /* Adjust the size of the logo */
  height: 30px; /* Maintain aspect ratio */
  align-self: center;
  justify-self: flex-start;
}

nav h1 {
  font-family: extraboldfont, serif; /* *Using serif as a fallback */
  font-weight: 800;
  font-size: 2.5rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-family: regularfont, sans-serif;
  font-weight: normal;
}
