:root {
  --off-white: hsl(36, 65%, 95%);
  --light-blue: hsl(210, 100%, 98%);
  --dark-blue: hsl(236, 13%, 42%);
  --deep-blue: hsl(240, 100%, 5%);
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
}

@font-face {
  font-family: "regularfont";
  src: url(/assets/fonts/static/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "boldfont";
  src: url(/assets/fonts/static/Inter-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "extraboldfont";
  src: url(/assets/fonts/static/Inter-ExtraBold.ttf) format("truetype");
}

body,
html {
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: regularfont, sans-serif;
}

@media (max-width: 1100px) {
  body,
  html {
    margin: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
